#home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 1rem;
  padding-top: 100px;
}

#home-left {
  background-color: whitesmoke;
  height: 400px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  margin-left: 3rem;
}

#home-right {
  height: 400px;
  margin-right: 3rem;

}

#landing-img {
  height: 100%;
  width: 100%;
}