.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  position: fixed;
  width: 100%;
  /* background-color: red; */
}

#navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navbar > * {
  margin: 0 1rem;
}

#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

#search-container > * {
  margin: 0 1rem;
}

.colored-btn {
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 8px;
  max-width: 100px;
  text-align: center;
}